@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Orbitron:wght@500&family=Tilt+Warp&display=swap');

:root {
    --cor-primaria: #0F0F0F;
    --cor-secundaria: #005B41;
    --cor-terciaria: #008170;
    --cor-rodape-header: #232D3F;
    --cor-hover: #1F1F1F;

    --fonte-primaria: 'Orbitron', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalhoMenu {
    padding: 2.35rem;
    background-color: var(--cor-rodape-header);
}

.cabecalhoMenuLinks {
    text-decoration: none;
    margin-left: 1%;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 17px;
    font-weight: 600;
}

.cabecalhoMenuLinks:hover {
    text-decoration: underline;
    color: var(--cor-terciaria);
}

.principal {
    padding: 2.4% 35% 5% 30%;
    display: flex;
    align-items: center;
    gap: 11px;
}

.sessao {
    margin-right: 100px;
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo {
    color: var(--cor-terciaria);
    font-size: 1.7rem;
    margin-bottom: 1.50rem;
    font-family: var(--fonte-primaria);
}

.paragrafos {
    font-size: 17px;
    font-family: var(--fonte-primaria);
    margin: 1px;
} 

.respostas {
    font-family: var(--fonte-secundaria);
}

.fotoMinha {
    margin-top: 50px;
    padding: 150px;
    border: solid 3px var(--cor-terciaria);
    border-radius: 7%;
    order: +1;
    background-color: var(--cor-rodape-header);
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.45rem;
    text-align: center;
    background-color: var(--cor-rodape-header);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 17px;
    font-weight: 555;
}

@media (max-width: 1000px) {
    .cabecalhoMenu {
        padding: 2.35rem 1rem;
        justify-content: center;
    }

    .cabecalhoMenuLinks {
        font-size: 15px;
        margin-left: 0.5rem;
        padding: 10% 0;
        text-align: center;
    }

    .principal {
        padding: 10% 15%;
        flex-direction: column;
        gap: 50px;
    }

    .sessao {
        margin-right: 0;
    }

    .titulo {
        width: 100%;
        align-items: center;
        padding: center;
    }

    .outros__paragrafos {
        margin: 0.5rem;
        font-size: 133%;
    }

    .titulo__redes__sociais {
        margin-left: 0;
        margin-top: 1rem;
        text-align: center;
    }

    .tiktok, .instagram, .twitter, .discord {
        margin: 1rem auto;
        width: 80%;
    }

    .fotoMinha {
        margin: 50px auto;
        width: 70%;
    }
}
