@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Orbitron:wght@500&family=Tilt+Warp&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-terciaria: #707070;
    --cor-rodape-header: #050505;
    --cor-hover: #121212;

    --fonte-primaria: 'Orbitron', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalhoMenu {
    padding: 2.35rem;
    background-color: var(--cor-rodape-header);
}

.cabecalhoMenuLinks {
    text-decoration: none;
    margin-left: 1%;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 17px;
    font-weight: 600;
}

.cabecalhoMenuLinks:hover {
    text-decoration: underline;
    color: var(--cor-terciaria);
}

.principal {
    padding: 2.4% 35% 5% 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 11px
}

.fotoMinha {
    width: 35%;
    margin-top: 100px;
    border: solid 3px;
    border-radius: 50%;
    order: +1;
    color: var(--cor-terciaria);
}

.sessao {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.titulo {
    padding: auto;
    font-size: 1.88rem;
    margin-bottom: 1.50rem;
    font-family: var(--fonte-primaria);
}

.primeira-strong {
    color: var(--cor-terciaria);
}

.primeiro__paragrafo {
    font-size: 1.55rem;
    font-family: var(--fonte-secundaria);
}

.outros__paragrafos {
    font-size: 1.18rem;
    font-family: var(--fonte-secundaria);
    padding-bottom: 3.8%;
}

.titulo__redes__sociais {
    width: 100%;
    font-weight: 1;
    padding-top: 2rem;
    margin-left: 3rem;
    font-family: var(--fonte-primaria);
    color: var(--);
}

.tiktok, .instagram, .twitter, .discord {
    display: block;
    margin-top: 1.25rem;
    padding: 1.34%;
    width: 23rem;
    text-align: center;
    border-radius: 8px;
    border: 2px groove var(--cor-terciaria);
    background-color: var(--cor-primaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.50rem;
    font-weight: 550;
    color: var(--cor-secundaria);
    transition: transform 0.5s ease-out;
}
  
.fotoTwitter {
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
    width: 1.50rem;
}

.fotoInsta {
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
    width: 1.50rem;
  }

.fotoDiscord {
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
    width: 1.50rem;
}

.fotoTiktok{
    display: inline-block;
    vertical-align: middle;
    width: 2rem;
}

.tiktok:hover, .instagram:hover, .twitter:hover, .discord:hover {
    background-color: var(--cor-hover);
    transform: scale(110%);
}

.rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.45rem;
    text-align: center;
    background-color: var(--cor-rodape-header);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 555;
}

@media (max-width: 1000px) {

.cabecalhoMenu {
    padding: 2.35rem 1rem;
    justify-content: center;
}

.cabecalhoMenuLinks {
    font-size: 10px;
    margin-left: 0.5rem;
    padding: 10% 0;
    text-align: center;
}

 .principal {
    padding: 10% 15%;
    flex-direction: column;
    gap: 50px
 }

 .fotoMinha {
    margin: 50px auto;
    width: 70%;
 }

.sessao {
    width: 100%;
}

 .titulo {
    width: 100%;
    align-items: center;
    padding: center;
 }

 .outros__paragrafos {
    margin: 0.5rem;
    font-size: 133%;
 }

.titulo__redes__sociais {
    margin-left: 0;
    margin-top: 1rem;
    text-align: center;
}

.tiktok, .instagram, .twitter, .discord {
    margin: 1rem auto;
    width: 80%;
}

.rodape {
    position: static;
}

}